<!doctype html>
<html>
<head>
  <title>Meadowlark travel</title>
</head>
<body>
  <!-- set the header that will be used by all the views -->
  <header>
    <img src='/img/logo.png' alt='Meadowlark Travel Logo' />
  </header>

  <!-- this expression will be replaced with the HTML of each view -->
  {{{body}}}
</body>
</html>